@charset "UTF-8";

.contents {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}
.header {
	background-color: gray;
}
.login {
	display: inline-block;
	padding: 10px;
	color: white;
}
.date {
	display: inline-block;
	padding: 10px;
	font-size: 10px;
}
.footer {
	background-color: gray;
}
.logos {
	display: inline-block;
	padding: 10px;
	color: white;
}